<footer class="footer">
  <ul class="social-links">
    <li>
      <a href="https://github.com/rsounder" target="_blank" aria-label="GitHub">
        <img
          src="../../assets/images/github.svg"
          alt="GitHub"
          style="filter: invert(1); height: 2.5rem"
        />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/sounder-rajendran-3b99b0156"
        aria-label="Linkedin"
        target="_blank"
      >
        <img
          src="../../assets/images/linkedin.svg"
          alt="Linkedin"
          style="filter: invert(1); height: 2.5rem"
        />
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/the_world_of_stark/"
        aria-label="Instagram"
        target="_blank"
      >
        <img
          src="../../assets/images/instagram.svg"
          alt="Instagram"
          style="filter: invert(1); height: 2.5rem"
        />
      </a>
    </li>
  </ul>

  <div class="credits">
    <p>Designed & Built by Sounder Rajendran</p>
  </div>
</footer>
