<div class="comp-container">
  <section class="main-section">
    <p class="sec__heading">Hi, my name is</p>
    <div class="heading">
      <h1 class="name__heading">Sounder Rajendran</h1>
      <h1 class="role__heading">IoT, ML & HMI Engineer</h1>
    </div>
    <p class="sec__desc">
      Electrical & Electronics Engineer by education.
      <br />
      IoT, ML & HMI Engineer by expertise!
    </p>
    <div class="btn-container">
      <a class="btn" href="/assets/resume.pdf" target="_blank"
        >Download Resume</a
      >
    </div>
  </section>
  <div class="comp">
    <div class="social" orientation="left" class="icons-container">
      <ul class="social-links">
        <li>
          <a
            href="https://github.com/rsounder"
            target="_blank"
            aria-label="GitHub"
          >
            <img
              src="../../assets/images/github.svg"
              alt="GitHub"
              style="filter: invert(1); height: 2.5rem"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/sounder-rajendran-3b99b0156"
            aria-label="Linkedin"
            target="_blank"
          >
            <img
              src="../../assets/images/linkedin.svg"
              alt="Linkedin"
              style="filter: invert(1); height: 2.5rem"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/the_world_of_stark/"
            aria-label="Instagram"
            target="_blank"
          >
            <img
              src="../../assets/images/instagram.svg"
              alt="Instagram"
              style="filter: invert(1); height: 2.5rem"
            />
          </a>
        </li>
      </ul>
    </div>
    <app-footer></app-footer>
  </div>
</div>
