<div class="comp-container">
  <div class="comp">
    <div class="social" orientation="left" class="icons-container">
      <ul class="social-links">
        <li>
          <a href="https://github.com/rsounder" aria-label="GitHub">
            <img src="/src/assets/images/github.svg" alt="GitHub" />
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/sounder-rajendran-3b99b0156"
            aria-label="Linkedin"
          >
            <img src="/src/assets/images/linkedin.svg" alt="Linkedin" />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/the_world_of_stark/"
            aria-label="Instagram"
          >
            <img src="/src/assets/images/instagram.svg" alt="Instagram" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
