<div class="restrict-top">
  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block" *ngFor="let data of dataArray">
      <div class="cd-timeline-img cd-picture">
        <span class="material-icons md-dark" [textContent]="data.icon"></span>
      </div>

      <div class="cd-timeline-content">
        <p class="p-header">{{ data.heading }}</p>
        <div
          style="
            display: inline-flex;
            justify-content: space-between;
            padding-top: 5%;
          "
        >
          <img
            src="https://images.unsplash.com/reserve/Af0sF2OS5S5gatqrKzVP_Silhoutte.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGljfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
            width="75rem"
            height="75rem"
            alt="award-img"
            style="border-radius: 50%"
          />
          <div class="timeline-content-info">
            <div class="timeline-content-info-title">
              <span class="material-icons"> business </span>
              <div class="dataorg">
                {{ data.org }}
              </div>
            </div>
            <div class="timeline-content-info-date">
              <span class="material-icons"> calendar_month </span>
              <div class="datadate">
                {{ data.date }}
              </div>
            </div>
          </div>
        </div>

        <p>
          {{ data.context }}
        </p>
        <ul class="content-skills">
          <li *ngFor="let list_data of data.chips">{{ list_data }}</li>
        </ul>
      </div>
      <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
  </section>
  <!-- cd-timeline -->
</div>
